@model VueApp2017.Models.SignInModel;
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="width: 100%; padding-right: 3px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">My App</a>
        </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="lists" asp-controller="Home" asp-action="Index">Lists</a></li>
                <li><a asp-area="reports" asp-controller="Home" asp-action="Index">Reports</a></li>
                <li><a asp-area="profile" asp-controller="Home" asp-action="Index">Profile</a></li>
            </ul>
            <form method="post" class="pull-right" style="padding-top: 8px !important;" asp-area="" asp-controller="Home" asp-action="Logout">
                <button type="submit" class="btn btn-primary">Sign Out</button>
                @Html.AntiForgeryToken()
            </form>
        </div>
    }
    else
    {
        <div class="navbar-collapse collapse">
            <form class="form-inline pull-right" style="padding-top: 8px !important;"
                    asp-area="" asp-controller="Home" asp-action="Login"
                    asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
                <div class="form-row">
                    <div class="form-group col" style="padding-right: 0px; padding-left: 5px; margin-bottom: 2px;"><input type="text" class="form-control" placeholder="Username" asp-for="Username" /></div>
                    <div class="form-group col" style="padding-right: 0px; padding-left: 5px; margin-bottom: 2px;"><input type="password" class="form-control" placeholder="Password" asp-for="Password" /></div>
                    <div class="form-group col" style="padding-right: 0px; padding-left: 5px; margin-bottom: 2px;"><button class="btn btn-primary btn-block">Sign In</button></div>
                </div>
                @Html.AntiForgeryToken()
            </form>
        </div>
    }
    </div>
</nav>